@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #2F6FED;
    --color-primary-light: #4A8BFF;

    --color-text-main: #08060D;
    --color-text-muted: #6B6375;

    --color-bg-light: #F3F6F9;
    --color-bg-soft: rgba(69, 140, 250, 0.1);

    --color-white: #ffffff;
}

.dark {
    --color-primary: #4A8BFF;
    --color-primary-light: #6EA3FF;

    --color-text-main: #F5F5F5;
    --color-text-muted: #A1A1AA;

    --color-bg-light: #111827;
    --color-bg-soft: rgba(255, 255, 255, 0.05);

    --color-white: #1F2937;
}

@layer components {

    /* TEXT */
    .text-primary {
        color: var(--color-primary);
    }

    .text-main {
        color: var(--color-text-main);
    }

    .text-muted {
        color: var(--color-text-muted);
    }

    /* BACKGROUND */
    .bg-primary {
        background-color: var(--color-primary);
    }

    .bg-primary-light {
        background-color: var(--color-primary-light);
    }

    .bg-light {
        background-color: var(--color-bg-light);
    }

    .bg-soft {
        background-color: var(--color-bg-soft);
    }

    .bg-white-custom {
        background-color: var(--color-white);
    }

    /* BORDER */
    .border-light {
        border-color: #e5e7eb;
    }
}